body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('http://images.ctfassets.net/uld4p9k0kh49/7ejnOdWlQa7lLqxRjXdg1I/64088f83143b83e646d573d70eb2f15a/iStock-1057666244.jpg');
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 100px;
  margin: 0 auto;
  animation: easeInOutBack 1.5s;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: #2a2415;
  width: 100vw;
  height: 50px;
  padding: 0;
  margin: 0;
  opacity: 0.9;

  .wrapper {
    height: 100%;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo {
      color: #ffb76b;
      font-size: 1.5em;
      font-family: 'Pacifico', cursive;
    }

    .menu_btns {
      background-color: transparent;
      border: none;
      color: #c1bab2;
      font-size: 1.3em;
      margin-left: 30px;
      cursor: pointer;
      padding: 0;
      transition: 300ms;

      &:hover {
        border-bottom: 3px solid #ffb76b;
        color: #ffb76b;
        margin-bottom: 5px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.bodyStyle {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70vw;
  margin: 0 auto;
  color: orange;
  text-align: center;
  animation: bounce 1s;
}

.mainText {
  background: #ffb76b;
  background: linear-gradient(to right, #ffb76b 0%, #ffa73d 30%, #ff7c00 60%, #ff7f04 100%);
  background: linear-gradient(to right, #ffb76b 0%, #ffa73d 30%, #ff7c00 60%, #ff7f04 100%);
  background: linear-gradient(to right, #ffb76b 0%, #ffa73d 30%, #ff7c00 60%, #ff7f04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 5em;
  font-family: 'Sigmar One', cursive;

  span {
    color: white;
  }
}

.subText {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
}

.contactWrapper {
  width: 55vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2a2415;
  margin-top: 50px;
  padding: 50px 50px;
  border-radius: 15px;
  color: white;
  flex-direction: column;
  font-size: 1.5em;
  animation: bounce 1s;

  img {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
  }
}

.menu_item_wrapper {
  width: 45vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2a2415;
  margin-top: 40px;
  padding: 30px 20px;
  border-radius: 15px;
  animation: bounce 1s;

  .menu_item {
    width: 45%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: aliceblue;
    transition: 300ms;
    box-sizing: border-box;
    border-radius: 5px;

    img {
      width: 100%;
      margin: 0 auto;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    p,
    h3 {
      margin: 0;
      margin-bottom: 5px;
      margin-left: 10px;
    }

    &:hover {
      box-shadow: -1px 0 5px 1px rgba(243, 243, 243, 0.75);
      -webkit-box-shadow: -1px 0 5px 1px rgba(243, 240, 240, 0.75);
      -moz-box-shadow: -1px 0 5px 1px rgba(240, 238, 238, 0.75);
      cursor: pointer;
    }
  }
}

.hideDive {
  display: none;
}

.activeBtn {
  border: 3px solid red;
}

@keyframes easeInOutBack {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@media screen and(max-width: 640px) {
  .mainText {
    font-size: 2.5em;
  }

  .menu_item_wrapper {
    width: 80vw;
    margin-top: 20px;
    padding: 20px 10px;

    p {
      font-size: 0.8em;
    }

    .menu_item {
      width: 45%;
    }
  }

  .bodyStyle {
    top: 14%;
    left: 15%;
  }

  nav .wrapper .menu_btns {
    font-size: 1em;
    margin-left: 10px;
  }

  nav .wrapper .logo {
    font-size: 1em;
  }

  .contactWrapper {
    width: 80vw;
    margin-top: 33px;
    padding: 15px 17px;

    p {
      font-size: 0.8em;
    }

    img {
      width: 100%;
    }
  }
}
